/* ---------------------------------------------- */
body {
background-image: url(https://cdn.hipwallpaper.com/i/5/76/ucDVfG.jpg);
background-size: cover;
color: white;
font-family: 'Acme', sans-serif;
}

header {
  text-align: center;
  background-color: black;

  border-style: dotted;
  border-width: thick;
  border-color: gold;
  border-radius: 50%;

 
  min-width: 200px;
  margin:0px 30%;
  margin-bottom: 10px;
  padding-top: 20px;
}

header h1{
  padding-top: 30px;
  font-size: 40px;
}

header h5{
  font-size: 20px;
}

aside {
  list-style: none;
  background-color: black;
  padding:20px 10px;
  border-style: solid;
  border-color: gold;
  margin-bottom: 50px;
}
form {
  display: block;
  text-align: center;
}

li{
  list-style: none;
}

.body {
  margin-left:14.5%;
  padding:20px;
}

.jokeGenerator {
  display:  block;
  text-align: center;
  background-color: black;

  margin:auto 20%;

  padding:20px 0px;

  border-style: solid;
  border-color: gold;
}

.jokeButton{
  background-color: black;
  color: white;
  border-color: gold;

  font-size: 30px;
  font-family: 'Acme', sans-serif;
}

.jokeButton:hover{
  cursor: pointer;
  color:blue;
}

.jokesTitle{
  display: block;
  text-align: center;
}

.joke-body{
  font-size: 30px;
  color: blue;
}

.joke-options{
  color: white;
  font-size: 30px;
}

.jokeCreator{
  background-color: black;
  margin: 30px 20%;
  padding:0px 5%;

  border-style: solid;
  border-color: gold;
}

nav {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.homeButton{
background-color: black;
color: white;
font-size: 30px;
font-family: 'Acme', sans-serif;

padding:10px 20px;

box-shadow: 8px 2px gold;
}

.addJokeButton{
  background-color: black;
  color: white;
  font-size: 30px;
  padding: 5px auto;

  box-shadow: 8px 2px gold;
  font-family: 'Acme', sans-serif;
}

.homeButton:hover{
cursor: pointer;
color: blue;
}

.addJokeButton:hover{
  cursor: pointer;
  color: blue;
}

.formButton{
  background-color: black;
  color: white;
  border-style: solid;
  border-color: gold;
  font-size: 18px;
  margin-left: 20px;
}

.formButton:hover{
  cursor: pointer;
  color: blue;
}

.setup{
  margin-right: 20px;
}

.placerholderSetup{
  margin-left: 5px;
}

.placerholderDelivery{
  margin-left: 5px;
}

div {
  min-width: 300px;
}


@media only screen and (max-width:500px) {
  .body {
    margin:auto;
  }
  header{
    margin:auto;
  }
  .jokeGenerator {
    margin:auto;
  }
  .jokeCreator{
    margin:auto;
  }
}